services:
  bgg-inventory-nextjs:
    build: ./
    image: ghcr.io/firefly2442/bgg-inventory-nextjs:latest
    container_name: bgg-inventory-nextjs
    ports:
      - "9990:3000"
    restart: unless-stopped
